__1. List: concept, indexing, and slicing__

In [7]:
list1 = [1, 2, 3, 4, 5, 6, 11, 'a', 'b']
print(type(list1), list1)

<class 'list'> [1, 2, 3, 4, 5, 6, 11, 'a', 'b']

In [8]:
print(list1[1], list1[7])
print(list1[2:5])
print(list1[:7])
print(list1[4:])
print(list1[-1])
print(list1[-4:])
print(list1[1+2:])

2 a
[3, 4, 5]
[1, 2, 3, 4, 5, 6, 11]
[5, 6, 11, 'a', 'b']
b
[6, 11, 'a', 'b']
[4, 5, 6, 11, 'a', 'b']

In [9]:
len(list1)

9

In [10]:
list1[6] = 'c'
print(list1)

[1, 2, 3, 4, 5, 6, 'c', 'a', 'b']

In [15]:
list2 = []
for item in range(11, 14, 1):
    #list2 += [item]
    list2.append(item)
print(list2)

[11, 12, 13]

In [12]:
list3 = []
list3 += 'Python Kooc'
print(list3, len(list3))

['P', 'y', 't', 'h', 'o', 'n', ' ', 'K', 'o', 'o', 'c'] 11

In [14]:
list3 += ('M', 'o', 'o', 'c')
print(list3, len(list3))

['P', 'y', 't', 'h', 'o', 'n', ' ', 'K', 'o', 'o', 'c', 'M', 'o', 'o', 'c'] 15

In [17]:
list12 = list1 + list2
print(list12)

[1, 2, 3, 4, 5, 6, 'c', 'a', 'b', 11, 12, 13]

In [18]:
for i in range(len(list12)):
    print(f'({i}, {list12[i]}))', end = ' ')

(0, 1)) (1, 2)) (2, 3)) (3, 4)) (4, 5)) (5, 6)) (6, c)) (7, a)) (8, b)) (9, 11)) (10, 12)) (11, 13))

__2. Tuples__

In [19]:
t1 = 10, 20, 30, 'John'
t1 += (40, 50)
print(t1)

(10, 20, 30, 'John', 40, 50)

In [20]:
t2 = tuple([1, 2, 3, 4])
print(t2)
print(t2[2])
print(t2[:3])

(1, 2, 3, 4)
3
(1, 2, 3)

In [21]:
t3 = 'Kim', 'Park', 'Kwon', [80, 90, 100]
print(t3, len(t3), t3[3])
t3[3][1] = 85
print(t3)

('Kim', 'Park', 'Kwon', [80, 90, 100]) 4 [80, 90, 100]
('Kim', 'Park', 'Kwon', [80, 85, 100])

__3. Unpacking sequences: any sequence can be unpacked__

In [22]:
t4 = (('Kim', 'Park', 'Kwon'), [80, 90, 100])
print(len(t4))
last_name, grades = t4
print(last_name, grades, type(last_name), type(grades))

2
('Kim', 'Park', 'Kwon') [80, 90, 100] <class 'tuple'> <class 'list'>

In [23]:
grade1 ,grade2, grade3 = grades
print(grade1, grade2, grade3)

80 90 100

In [24]:
first, second, third, fourth = 'WIFI'
print(first, second, third, fourth)

W I F I

__4. Enumerate: A built-in function__

In [25]:
colors = ['red', 'yellow', 'blue', 'black', 'white']
print(list(enumerate(colors)))
print(tuple(enumerate(colors)))

for index, color in enumerate(colors):
    print(f'{index}: {color}')

[(0, 'red'), (1, 'yellow'), (2, 'blue'), (3, 'black'), (4, 'white')]
((0, 'red'), (1, 'yellow'), (2, 'blue'), (3, 'black'), (4, 'white'))
0: red
1: yellow
2: blue
3: black
4: white

In [26]:
bar = [19, 8, 15, 7, 11]
print('Creating a bar chart:')
print(f'Index{"Value":>8} Bar')
for index, value in enumerate(bar):
    print(f'{index:>5}{value:>8} {"*"*value}')

Creating a bar chart:
Index   Value Bar
    0      19 *******************
    1       8 ********
    2      15 ***************
    3       7 *******
    4      11 ***********

__5. Slicing with steps and modifying lists with slicing__

In [27]:
print(list12, len(list12))
print(list12[:])
print(list12[::2])

[1, 2, 3, 4, 5, 6, 'c', 'a', 'b', 11, 12, 13] 12
[1, 2, 3, 4, 5, 6, 'c', 'a', 'b', 11, 12, 13]
[1, 3, 5, 'c', 'b', 12]

In [28]:
list12[0:3] = ['one', 'two', 'three']
print(list12)
list12[0:3] = []
print(list12)

['one', 'two', 'three', 4, 5, 6, 'c', 'a', 'b', 11, 12, 13]
[4, 5, 6, 'c', 'a', 'b', 11, 12, 13]

__6. Deleting elements and lists__

In [29]:
del list12[-1]
print(list12)
del list12[::2]
print(list12)
del list12[:]
print(list12)

[4, 5, 6, 'c', 'a', 'b', 11, 12]
[5, 'c', 'b', 12]
[]

In [32]:
print(bar)
del bar
print(bar)

NameError: name 'bar' is not defined

__7. Sorting lists with sorting method__

In [33]:
numbers = [7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]
numbers.sort()
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 15]

In [35]:
numbers = [7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]
numbers.sort(reverse = True)
print(numbers)
numbers.reverse()
print(numbers)

[15, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 15]

In [17]:
a_string = 'J I love you, and do you love me?'
a_string = a_string.split()
print(a_string, type(a_string))
a_string.sort(key=len)
print(a_string, type(a_string))
b_string = sorted(a_string)
print(b_string)

['J', 'I', 'love', 'you,', 'and', 'do', 'you', 'love', 'me?'] <class 'list'>
['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love'] <class 'list'>
['I', 'J', 'and', 'do', 'love', 'love', 'me?', 'you', 'you,']

In [7]:
x = [7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]
y = sorted(x)
z = reversed(x)
print(x)
print(y)
print(list(z))
print(x)

[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 15]
[11, 15, 8, 9, 1, 6, 3, 4, 5, 2, 7]
[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]

__8. Searching elements and useful list methods__

In [8]:
print(x.index(3))
print(12 in x)
print(12 not in x)
print('Love' in a_string)

4
False
True
False

In [9]:
print(a_string)
a_string.insert(3, 'him')
print(a_string)

['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love']
['J', 'I', 'do', 'him', 'and', 'you', 'me?', 'love', 'you,', 'love']

In [10]:
a_string.append('hate')
print(a_string)
a_string.remove('him')
print(a_string)

['J', 'I', 'do', 'him', 'and', 'you', 'me?', 'love', 'you,', 'love', 'hate']
['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love', 'hate']

In [11]:
print(a_string+['I', 'and'])
a_string.extend(['I', 'and'])
print(a_string)

['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love', 'hate', 'I', 'and']
['J', 'I', 'do', 'and', 'you', 'me?', 'love', 'you,', 'love', 'hate', 'I', 'and']

In [12]:
a_string.clear()
print(a_string)

[]

In [13]:
print(x) 
x_copied = x.copy()
print(x_copied)
print(x.copy())

[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]
[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]
[7, 2, 5, 4, 3, 6, 1, 9, 8, 15, 11]

__9. List compregensions__

In [14]:
list_range = list(range(0, 10, 2))
print(list_range)

list_com = [i for i in range(0, 10, 2)]
print(list_com)
list_con = [i for i in range(0, 10) if i % 2 != 0]
print(list_con)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [19]:
list_op = [i**2 for i in range(0, 10, 2)]
print(list_op)
list_up = [i.upper() for i in a_string]
print(list_up)

[0, 4, 16, 36, 64]
['J', 'I', 'DO', 'AND', 'YOU', 'ME?', 'LOVE', 'YOU,', 'LOVE']

In [18]:
list_gen = (i**2 for i in range(10) if i % 2 == 0)
print(list_gen)
list_gen1 = [i+4 for i in list_gen]
print(list_gen1)

<generator object <genexpr> at 0x00000201DF231948>
[4, 8, 20, 40, 68]

__10. lambda expression, map, and zip functions__

In [23]:
list3 = list(range(0, 25))
print(list3)

def is_multiple3(x):
    """Return True if x is a multiple of 3"""
    return x % 3 == 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [24]:
list(filter(is_multiple3, list3))

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [25]:
list4 = list(filter(lambda x: x % 3 == 0, list3))
list4

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [26]:
print(list(map(lambda x: x**2, list4)))
print([i**2 for i in list4])

[0, 9, 36, 81, 144, 225, 324, 441, 576]
[0, 9, 36, 81, 144, 225, 324, 441, 576]

In [28]:
list(map(lambda x: x**2, filter(lambda x: x % 3 == 0, list3)))

[0, 9, 36, 81, 144, 225, 324, 441, 576]

In [29]:
[x**2 for x in list3 if x %3 == 0]

[0, 9, 36, 81, 144, 225, 324, 441, 576]

In [30]:
car = ['Santafe', 'Mini', 'Pony', 'Grandeur', 'Sonata', 'Excel', 'elantra']
car.sort(key = len)
print(car)
print(sorted(car))
print(min(car), max(car))
max(car, key=lambda i: i.lower())

['Mini', 'Pony', 'Excel', 'Sonata', 'Santafe', 'elantra', 'Grandeur']
['Excel', 'Grandeur', 'Mini', 'Pony', 'Santafe', 'Sonata', 'elantra']
Excel elantra

'Sonata'

In [31]:
players = ['Ryu', 'Son', 'Park', 'Kwon']; goals = [7, 20, 15, 7]
for last_name, goal in zip(players, goals):
    print(f'{last_name}: {goal}')

Ryu: 7
Son: 20
Park: 15
Kwon: 7

__11. Two and multi dimensional lists__

In [32]:
a = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
print(a)
for row in a:
    for column in row:
        print(column, end= " ")
    print()

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
1 2 3 4
5 6 7 8
9 10 11 12